body{
  font-size: 14px;
  line-height: 2;
  font-family:'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

@media (max-width 750px){
  .bar{
    display none    
  }
  .article-wrapper{
    margin 0 !important
  }
  .main{
    width 100% !important
  }
  .fixed-nav{
    display block !important
  }
}